@import url('https://fonts.googleapis.com/css?family=Nobile:700');
body {
    height: 100%;
	width: 100%;
    background-image: url('../img/mars.jpg');
    color:#fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    font-family: Nobile , Arial;
}
.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.largefont2 {
    font-weight: 600; 
    font-size:1.8em;
    line-height:1.1;
    text-shadow: 1px 2px .7em #000000;
}
/* h1 {
    text-align: center;
    color: pink;
}*/

.tcenter {
    padding-bottom:100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
