 @import url('https://fonts.googleapis.com/css?family=Roboto');
 html,
 body {
 	font-family: Roboto, Arial;
 	height: 100%;
 	width: 100%;
 	background-image: url("../img/indexbg.jpg");
 	-webkit-background-size: cover;
 	-moz-background-size: cover;
 	background-size: cover;
 	-o-background-size: cover;
 	background-repeat: no-repeat;
 	background-color: #000;
 }

 .mars-icon {
 	width: 64px;
 }
 
 .centerV {
 	position: relative;
 	top: 50%;
 	transform: translateY(50%);
 }
 
 .navbar {
 	background-color: rgba(0, 0, 0, .7);
 }
 
 .navbar-brand {
 	font-size: 30px;
 	color: #89210f;
 }
 
 .card-font {
 	color: #fff;
 	font-weight: 700;
 	text-shadow: 2px 2px 5px #000;
 }
 
 .center {
 	margin-left: auto;
 	margin-right: auto;
 	text-align: center;
 }
 
 .headertext {
 	color: #fff;
 	font-weight: 700;
 	text-shadow 2px 2px #000;
 }
