<!DOCTYPE html>

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="description" content="Discover Mars" />
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<link rel="shortcut icon" href="img/favicon.ico" />
	<title>Explore the Red Planet</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" integrity="sha512-P5MgMn1jBN01asBgU0z60Qk4QxiXo86+wlFahKrsQf37c9cro517WzVSPPV1tDKzhku2iJ2FVgL67wG03SGnNA==" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.12/angular-material.min.css" integrity="sha256-nk0odP8gVH0rkgBJq8ynPIGV1+C9xq8n/Jdy8vpVtC0=" crossorigin="anonymous" />
	<!--<link rel="stylesheet" href="css/angular-toggle-switch.css" />-->
	<link rel="stylesheet" href="css/dashboard.css" />
	

</head>

<body ng-app="discoverMars" ng-controller="DashController">
	<nav class="navbar navbar-dark bg-faded">
		<a class="navbar-brand mars-red" href="index.html" target="_self"><img class="mars-icon" src="img/06-mars-icon.png">Discover Mars</a>
		<button class="navbar-toggler d-block d-md-none" type="button" data-toggle="collapse" data-target="#mobilenav" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="mobilenav">
			<ul class="navbar-nav flex-column">
				<h3 class="center">Cameras</h3>
				<li class="nav-item" ng-class="cameras.FHAZ < 1 ? 'hidden' : ''" ng-click="changeCamera('FHAZ')">
					<button type="button" class="btn btn-dark btn-sm btn-block"><a class="nav-link">FHAZ [{{cameras.FHAZ}}]</a></button>
				</li>
				<li class="nav-item" ng-class="cameras.RHAZ < 1 ? 'hidden' : ''" ng-click="changeCamera('RHAZ')">
					<button type="button" class="btn btn-dark btn-sm btn-block"><a class="nav-link">RHAZ [{{cameras.RHAZ}}]</a></button>
				</li>
				<li class="nav-item" ng-class="cameras.MAST < 1 ? 'hidden' : ''" ng-click="changeCamera('MAST')">
					<button type="button" class="btn btn-dark btn-sm btn-block"><a class="nav-link">MAST [{{cameras.MAST}}]</a></button>
				</li>
				<li class="nav-item" ng-class="cameras.CHEMCAM < 1 ? 'hidden' : ''" ng-click="changeCamera('CHEMCAM')">
					<button type="button" class="btn btn-dark btn-sm btn-block"><a class="nav-link">CHEMCAM [{{cameras.CHEMCAM}}]</a></button>
				</li>
				<li class="nav-item" ng-class="cameras.MAHLI < 1 ? 'hidden' : ''" ng-click="changeCamera('MAHLI')">
					<button type="button" class="btn btn-dark btn-sm btn-block"><a class="nav-link">MAHLI [{{cameras.MAHLI}}]</a></button>
				</li>
				<li class="nav-item" ng-class="cameras.MARDI < 1 ? 'hidden' : ''" ng-click="changeCamera('MARDI')">
					<button type="button" class="btn btn-dark btn-sm btn-block"><a class="nav-link">MARDI [{{cameras.MARDI}}]</a></button>
				</li>
				<li class="nav-item" ng-class="cameras.NAVCAM < 1 ? 'hidden' : ''" ng-click="changeCamera('NAVCAM')">
					<button type="button" class="btn btn-dark btn-sm btn-block"><a class="nav-link">NAVCAM [{{cameras.NAVCAM}}]</a></button>
				</li>
				<li class="nav-item" ng-class="cameras.PANCAM < 1 ? 'hidden' : ''" ng-click="changeCamera('PANCAM')">
					<button type="button" class="btn btn-dark btn-sm btn-block"><a class="nav-link">PANCAM [{{cameras.PANCAM}}]</a></button>
				</li>
				<li class="nav-item" ng-class="cameras.MINITIES < 1 ? 'hidden' : ''" ng-click="changeCamera('MINITIES')">
					<button type="button" class="btn btn-dark btn-sm btn-block"><a class="nav-link">MINITIES [{{cameras.MINITIES}}]</a></button>
				</li>
				<li class="nav-item" ng-class="cameras.EDL_RUCAM < 1 ? 'hidden' : ''" ng-click="changeCamera('EDL_RUCAM')">
					<button type="button" class="btn btn-dark btn-sm btn-block"><a class="nav-link">EDL_RUCAM [{{cameras.EDL_RUCAM}}]</a></button>
				</li>
				<li class="nav-item" ng-class="cameras.EDL_RDCAM < 1 ? 'hidden' : ''" ng-click="changeCamera('EDL_RDCAM')">
					<button type="button" class="btn btn-dark btn-sm btn-block"><a class="nav-link">EDL_RDCAM [{{cameras.EDL_RDCAM}}]</a></button>
				</li>
				<li class="nav-item" ng-class="cameras.EDL_DDCAM < 1 ? 'hidden' : ''" ng-click="changeCamera('EDL_DDCAM')">
					<button type="button" class="btn btn-dark btn-sm btn-block"><a class="nav-link">EDL_DDCAM [{{cameras.EDL_DDCAM}}]</a></button>
				</li>
				<li class="nav-item" ng-class="cameras.EDL_PUCAM1 < 1 ? 'hidden' : ''" ng-click="changeCamera('EDL_PUCAM1')">
					<button type="button" class="btn btn-dark btn-sm btn-block"><a class="nav-link">EDL_PUCAM1 [{{cameras.EDL_PUCAM1}}]</a></button>
				</li>
				<li class="nav-item" ng-class="cameras.EDL_PUCAM2 < 1 ? 'hidden' : ''" ng-click="changeCamera('EDL_PUCAM2')">
					<button type="button" class="btn btn-dark btn-sm btn-block"><a class="nav-link">EDL_PUCAM2 [{{cameras.EDL_PUCAM2}}]</a></button>
				</li>
				<li class="nav-item" ng-class="cameras.NAVCAM_LEFT < 1 ? 'hidden' : ''" ng-click="changeCamera('NAVCAM_LEFT')">
					<button type="button" class="btn btn-dark btn-sm btn-block"><a class="nav-link">NAVCAM_LEFT [{{cameras.NAVCAM_LEFT}}]</a></button>
				</li>
				<li class="nav-item" ng-class="cameras.NAVCAM_RIGHT < 1 ? 'hidden' : ''" ng-click="changeCamera('NAVCAM_RIGHT')">
					<button type="button" class="btn btn-dark btn-sm btn-block"><a class="nav-link">NAVCAM_RIGHT [{{cameras.NAVCAM_RIGHT}}]</a></button>
				</li>
				<li class="nav-item" ng-class="cameras.MCZ_RIGHT < 1 ? 'hidden' : ''" ng-click="changeCamera('MCZ_RIGHT')">
					<button type="button" class="btn btn-dark btn-sm btn-block"><a class="nav-link">MCZ_RIGHT [{{cameras.MCZ_RIGHT}}]</a></button>
				</li>
				<li class="nav-item" ng-class="cameras.MCZ_LEFT < 1 ? 'hidden' : ''" ng-click="changeCamera('MCZ_LEFT')">
					<button type="button" class="btn btn-dark btn-sm btn-block"><a class="nav-link">MCZ_LEFT [{{cameras.MCZ_LEFT}}]</a></button>
				</li>
				<li class="nav-item" ng-class="cameras.FRONT_HAZCAM_LEFT_A < 1 ? 'hidden' : ''" ng-click="changeCamera('FRONT_HAZCAM_LEFT_A')">
					<button type="button" class="btn btn-dark btn-sm btn-block"><a class="nav-link">FRONT_HAZCAM_LEFT_A [{{cameras.FRONT_HAZCAM_LEFT_A}}]</a></button>
				</li>
				<li class="nav-item" ng-class="cameras.FRONT_HAZCAM_RIGHT_A < 1 ? 'hidden' : ''" ng-click="changeCamera('FRONT_HAZCAM_RIGHT_A')">
					<button type="button" class="btn btn-dark btn-sm btn-block"><a class="nav-link">FRONT_HAZCAM_RIGHT_A [{{cameras.FRONT_HAZCAM_RIGHT_A}}]</a></button>
				</li>
				<li class="nav-item" ng-class="cameras.REAR_HAZCAM_LEFT < 1 ? 'hidden' : ''" ng-click="changeCamera('REAR_HAZCAM_LEFT')">
					<button type="button" class="btn btn-dark btn-sm btn-block"><a class="nav-link">REAR_HAZCAM_LEFT [{{cameras.REAR_HAZCAM_LEFT}}]</a></button>
				</li>
				<li class="nav-item" ng-class="cameras.REAR_HAZCAM_RIGHT < 1 ? 'hidden' : ''" ng-click="changeCamera('REAR_HAZCAM_RIGHT')">
					<button type="button" class="btn btn-dark btn-sm btn-block"><a class="nav-link">REAR_HAZCAM_RIGHT [{{cameras.REAR_HAZCAM_RIGHT}}]</a></button>
				</li>
				<form class="form-inline text-light center">
					<label>Select Date: </label>
					<md-datepicker class="mr-sm-2" ng-model="myDate" md-placeholder="Enter date" md-min-date="minDate" md-max-date="maxDate"></md-datepicker>
					<input type="button" class="btn btn-primary" value="Go!" ng-click="getPhotos()">
				</form>
			</ul>
		</div>

		<div class="row my-2 my-lg-0 text-light mr-2 d-none d-md-block" ng-cloak>
		<!--
			<div class="col-md-5">
				<div ng-class="switchStatus ? '' : 'hidden'">
					<label for="sol" class="col-form-label">Search by Martian Sol 1-{{maxSol}}:</label>
					<input type="number" id="sol" ng-model="selectedSol">
					<input type="button" class="btn btn-primary" value="Go!" ng-click="getPhotos()">
					<br />
				</div>
			</div>
			<div class="col-md-2">
				<toggle-switch ng-model="switchStatus" knob-label="Date" class="switch-danger" on-label="Mars" off-label="Earth">
				</toggle-switch>
			</div>
		-->
			<div ng-class="switchStatus ? 'hidden' : ''">
				<label>Select Date: </label>
				<md-datepicker ng-model="myDate" md-placeholder="Enter date" md-min-date="minDate" md-max-date="maxDate"></md-datepicker>
				<input type="button" class="btn btn-primary" value="Go!" ng-click="getPhotos()">
			</div>
		</div>

	</nav>

	<div class="container">
		<div class="row">
			<nav id="sidebar" class="col-md-3 col-lg-2 sidebar d-none d-md-block">
				<div class="hidden-sm-down collapse-in navbar-collapse" id="navbarNav">
					<ul class="navbar-nav flex-column" ng-cloak>
						<h3 class="nav-link side-title">Cameras</h3>

						<li class="nav-item" ng-class="cameras.FHAZ < 1 ? 'hidden' : ''" ng-click="changeCamera('FHAZ')">
							<button type="button" class="btn btn-dark btn-sm btn-block"><a class="nav-link">FHAZ [{{cameras.FHAZ}}]</a></button>
						</li>
						<li class="nav-item" ng-class="cameras.RHAZ < 1 ? 'hidden' : ''" ng-click="changeCamera('RHAZ')">
							<button type="button" class="btn btn-dark btn-sm btn-block"><a class="nav-link">RHAZ [{{cameras.RHAZ}}]</a></button>
						</li>
						<li class="nav-item" ng-class="cameras.MAST < 1 ? 'hidden' : ''" ng-click="changeCamera('MAST')">
							<button type="button" class="btn btn-dark btn-sm btn-block"><a class="nav-link">MAST [{{cameras.MAST}}]</a></button>
						</li>
						<li class="nav-item" ng-class="cameras.CHEMCAM < 1 ? 'hidden' : ''" ng-click="changeCamera('CHEMCAM')">
							<button type="button" class="btn btn-dark btn-sm btn-block"><a class="nav-link">CHEMCAM [{{cameras.CHEMCAM}}]</a></button>
						</li>
						<li class="nav-item" ng-class="cameras.MAHLI < 1 ? 'hidden' : ''" ng-click="changeCamera('MAHLI')">
							<button type="button" class="btn btn-dark btn-sm btn-block"><a class="nav-link">MAHLI [{{cameras.MAHLI}}]</a></button>
						</li>
						<li class="nav-item" ng-class="cameras.MARDI < 1 ? 'hidden' : ''" ng-click="changeCamera('MARDI')">
							<button type="button" class="btn btn-dark btn-sm btn-block"><a class="nav-link">MARDI [{{cameras.MARDI}}]</a></button>
						</li>
						<li class="nav-item" ng-class="cameras.NAVCAM < 1 ? 'hidden' : ''" ng-click="changeCamera('NAVCAM')">
							<button type="button" class="btn btn-dark btn-sm btn-block"><a class="nav-link">NAVCAM [{{cameras.NAVCAM}}]</a></button>
						</li>
						<li class="nav-item" ng-class="cameras.PANCAM < 1 ? 'hidden' : ''" ng-click="changeCamera('PANCAM')">
							<button type="button" class="btn btn-dark btn-sm btn-block"><a class="nav-link">PANCAM [{{cameras.PANCAM}}]</a></button>
						</li>
						<li class="nav-item" ng-class="cameras.MINITIES < 1 ? 'hidden' : ''" ng-click="changeCamera('MINITIES')">
							<button type="button" class="btn btn-dark btn-sm btn-block"><a class="nav-link">MINITIES [{{cameras.MINITIES}}]</a></button>
						</li>
						<li class="nav-item" ng-class="cameras.EDL_RUCAM < 1 ? 'hidden' : ''" ng-click="changeCamera('EDL_RUCAM')">
							<button type="button" class="btn btn-dark btn-sm btn-block"><a class="nav-link">EDL_RUCAM [{{cameras.EDL_RUCAM}}]</a></button>
						</li>
						<li class="nav-item" ng-class="cameras.EDL_RDCAM < 1 ? 'hidden' : ''" ng-click="changeCamera('EDL_RDCAM')">
							<button type="button" class="btn btn-dark btn-sm btn-block"><a class="nav-link">EDL_RDCAM [{{cameras.EDL_RDCAM}}]</a></button>
						</li>
						<li class="nav-item" ng-class="cameras.EDL_DDCAM < 1 ? 'hidden' : ''" ng-click="changeCamera('EDL_DDCAM')">
							<button type="button" class="btn btn-dark btn-sm btn-block"><a class="nav-link">EDL_DDCAM [{{cameras.EDL_DDCAM}}]</a></button>
						</li>
						<li class="nav-item" ng-class="cameras.EDL_PUCAM1 < 1 ? 'hidden' : ''" ng-click="changeCamera('EDL_PUCAM1')">
							<button type="button" class="btn btn-dark btn-sm btn-block"><a class="nav-link">EDL_PUCAM1 [{{cameras.EDL_PUCAM1}}]</a></button>
						</li>
						<li class="nav-item" ng-class="cameras.EDL_PUCAM2 < 1 ? 'hidden' : ''" ng-click="changeCamera('EDL_PUCAM2')">
							<button type="button" class="btn btn-dark btn-sm btn-block"><a class="nav-link">EDL_PUCAM2 [{{cameras.EDL_PUCAM2}}]</a></button>
						</li>
						<li class="nav-item" ng-class="cameras.NAVCAM_LEFT < 1 ? 'hidden' : ''" ng-click="changeCamera('NAVCAM_LEFT')">
							<button type="button" class="btn btn-dark btn-sm btn-block"><a class="nav-link">NAVCAM_LEFT [{{cameras.NAVCAM_LEFT}}]</a></button>
						</li>
						<li class="nav-item" ng-class="cameras.NAVCAM_RIGHT < 1 ? 'hidden' : ''" ng-click="changeCamera('NAVCAM_RIGHT')">
							<button type="button" class="btn btn-dark btn-sm btn-block"><a class="nav-link">NAVCAM_RIGHT [{{cameras.NAVCAM_RIGHT}}]</a></button>
						</li>
						<li class="nav-item" ng-class="cameras.MCZ_RIGHT < 1 ? 'hidden' : ''" ng-click="changeCamera('MCZ_RIGHT')">
							<button type="button" class="btn btn-dark btn-sm btn-block"><a class="nav-link">MCZ_RIGHT [{{cameras.MCZ_RIGHT}}]</a></button>
						</li>
						<li class="nav-item" ng-class="cameras.MCZ_LEFT < 1 ? 'hidden' : ''" ng-click="changeCamera('MCZ_LEFT')">
							<button type="button" class="btn btn-dark btn-sm btn-block"><a class="nav-link">MCZ_LEFT [{{cameras.MCZ_LEFT}}]</a></button>
						</li>
						<li class="nav-item" ng-class="cameras.FRONT_HAZCAM_LEFT_A < 1 ? 'hidden' : ''" ng-click="changeCamera('FRONT_HAZCAM_LEFT_A')">
							<button type="button" class="btn btn-dark btn-sm btn-block"><a class="nav-link">FRONT_HAZCAM_LEFT_A [{{cameras.FRONT_HAZCAM_LEFT_A}}]</a></button>
						</li>
						<li class="nav-item" ng-class="cameras.FRONT_HAZCAM_RIGHT_A < 1 ? 'hidden' : ''" ng-click="changeCamera('FRONT_HAZCAM_RIGHT_A')">
							<button type="button" class="btn btn-dark btn-sm btn-block"><a class="nav-link">FRONT_HAZCAM_RIGHT_A [{{cameras.FRONT_HAZCAM_RIGHT_A}}]</a></button>
						</li>
						<li class="nav-item" ng-class="cameras.REAR_HAZCAM_LEFT < 1 ? 'hidden' : ''" ng-click="changeCamera('REAR_HAZCAM_LEFT')">
							<button type="button" class="btn btn-dark btn-sm btn-block"><a class="nav-link">REAR_HAZCAM_LEFT [{{cameras.REAR_HAZCAM_LEFT}}]</a></button>
						</li>
						<li class="nav-item" ng-class="cameras.REAR_HAZCAM_RIGHT < 1 ? 'hidden' : ''" ng-click="changeCamera('REAR_HAZCAM_RIGHT')">
							<button type="button" class="btn btn-dark btn-sm btn-block"><a class="nav-link">REAR_HAZCAM_RIGHT [{{cameras.REAR_HAZCAM_RIGHT}}]</a></button>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</div>

	<main class="col-sm-9 col-md-9 offset-sm-1 offset-md-3 offset-lg-2 mt-5" id="content">
		<div class="container" ng-show="loading">
			<div class="center Vcenter">
				<div class="spinner-border" role="status"></div>
				Loading... Please Wait.
			</div>
		</div>
		<div class="container" ng-hide="loading">
			<br />
			<div class="row">
				<img ng-repeat="photo in photos | filter: {camera: {name: activeCamera}}" class="col-lg-3 col-md-6 col-sm-6 col-xs-12 img-fluid Mcenter photo-grid" ng-src="{{photo.img_src}}" alt="Loading..." data-toggle="modal" data-target="#myModal" ng-click="expandImage('' + photo.img_src)">
			</div>
		</div>
	</main>

	<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<img ng-src="{{clickedImage}}" width="100%">
				<br />
				<a href="{{clickedImage}}" target="_blank" class="center mt-1"><button class="btn btn-lg btn-primary">View Original</button></a>
			</div>
		</div>
	</div>

	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js" integrity="sha256-23hi0Ag650tclABdGCdMNSjxvikytyQ44vYGo9HyOrU=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular-animate.min.js" integrity="sha256-biQnzwpmTVb5ZZDRDiU8iwbj7ZPTH9SZSxn5gewyFA0=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular-aria.min.js" integrity="sha256-oNV+8AzrXKmECd3VsoTxpdw8xuWAs1lAL85LG5U7gBM=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular-messages.min.js" integrity="sha256-NH+B//yMPOs9SsRoja1OuMOrbVA97MiD4ieDkKXr3KQ=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular-route.min.js" integrity="sha256-jZRUyy674QanjfVAn9YBW+d1iuxj8csDOxrwS35/GLo=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.12/angular-material.min.js" integrity="sha256-i5JIvisgw/XGdif2v1qFc75jlS3ZBXfG5FwKwlzs1GI=" crossorigin="anonymous"></script>
	<script src="js/app.js"></script>
	<script src="js/svg-assets-cache.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js" integrity="sha512-wV7Yj1alIZDqZFCUQJy85VN+qvEIly93fIQAN7iqDFCPEucLCeNFz4r35FCo9s6WrpdDQPi80xbljXB8Bjtvcg==" crossorigin="anonymous"></script>
	<script src="js/expand.js"></script>
	<!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "b54665418d4f46738c22ed934d2ad5f9"}'></script><!-- End Cloudflare Web Analytics -->

</body>
</html>